/.gradle/
**/build/
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
/.idea/
**/*.iml

### Kotlin ###
/.kotlin/

### Mac OS ###
.DS_Store
#/build-plugin/.gradle/
#/compositeLessons/.gradle/
#/shipBattleProject/.gradle/
